.product-list-cart {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.product-card-cart {
  display: flex;
  align-items: center;
  max-width: 700px;
  border: 2px solid black;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.2s;
}
.product-card-cart img {
  height: 150px;
  width: 200px;
  object-fit: contain;
  object-position: center;
  mix-blend-mode: color-burn;
}
.product-card-cart h4 {
  margin: 2px;
}
.empty-cart {
  margin-top: 20px;
  display: grid;
  justify-items: center;
}
.empty-cart img {
  height: 600px;
  object-fit: cover;
}
.sub-total {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.sub-total span {
  color: blue;
}
.cart-btn {
  display: flex;
  justify-content: space-around;
}
.qunatity-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.qunatity-btn p:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.39);
}
.qunatity-btn p {
  font-size: 24px;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 3px;
}
.qunatity-btn :nth-child(1) {
  margin: 0px 20px 5px 0px;
}
.qunatity-btn :nth-child(3) {
  margin: 0px 0px 5px 20px;
}

@media screen and (max-width: 768px) {
  .product-list-cart {
    margin-top: 5px;
  }
  .product-card-cart {
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  .product-card-cart img {
    height: 100px;
    width: 150px;
    object-fit: contain;
    object-position: center;
    mix-blend-mode: color-burn;
  }
  .product-card-cart h3 {
    margin: 3px;
  }
  .description {
    margin: 3px;
  }
  .sub-total {
    margin: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .empty-cart img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}
