.footer {
  width: 100%;
  min-height: 20vh;
  color: white;
  background-color: #2d2727;
}
.footer p {
  padding-top: 20px;
  text-align: center;
  color: white;
}
.footer img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.social {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-container {
  display: flex;
  flex-direction: column;
  color: white;
}
.last {
  font-size: 1.875em;
}
