#search {
  transition: width 0.3;
}
#search:hover {
  width: 500px;
}
#website-name {
  font-weight: bolder;
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
  font-size: 30px;
  color: aliceblue;
}
#website-name span {
  color: yellow;
  font-size: 24px;
}
.search-bar {
  margin-left: 10px;
  padding: 5px;
  transition: all 0.5s;
  border-radius: 5px;
  width: 200px; /* Set an initial width for the search bar */
}




.search-bar:focus {
  width: 400px;
  outline: 4px solid yellow; /* Remove outline on focus */
}
@media screen and (max-width: 768px) {
  #website-name {
    font-size: 16px;
  }
}
